svg {
  animation: rotate 2s linear infinite;
  height: 150px;
  position: relative;
  width: 150px;
}

svg circle {
  animation: animate 4s linear infinite;
  fill: none;
  height: 100%;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  stroke-width: 10;
  stroke: #1e293b;
  transform: translate(5px, 5px);
  width: 100%;
}

@keyframes rotate {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {

  0%, 100% {
    stroke-dashoffset: 440;
  }

  50% {
    stroke-dashoffset: 0;
  }

  50.1% {
    stroke-dashoffset: 880;
  }
}
